body {
    margin-top: 20px;
    background-color: #f5f5f5;
}

.container .container {
    background: white;
    border-radius: 15px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    box-shadow: 0px 0px 25px rgba(122,122,122,.5);
}

h1 {
    font-size: 5em;
}

h2, h3 {
    font-family: "Lucida Console", Monaco, monospace;
}

.header {
    padding-bottom: 30px;
}

.btn-lg {
    font-size: 3em;
    font-family: "Lucida Console", Monaco, monospace;
}

.btn-tall {
    height: 150px;
    border-radius: 20px;
}

.coupImage {
    max-width: 100%;
    overflow: hidden;
}
